<!DOCTYPE html>
<html>
    <head>
        <title>{title} - Clients</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{base_url}/includes/js/scripts.js"></script>
        <script src="{base_url}/includes/modules/clients/js/clients.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,200' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{base_url}/template/{template}/style.css">
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class='row'>
            <div class='col-xs-12 col-lg-2 col-md-2 col-sm-2'>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href='{base_url}/'><img class="icon" src='{base_url}/template/{template}/images/icon.png'></a></li>
                    {nav}
                </ul>
            </div>
            <div class='col-xs-12 col-lg-10 col-md-10 col-sm-10'>
                <div class="alert">{errors}</div>
                <div class="well clientAddForm">{add_form}</div>
                <div class="well clientList">{client_list}</div>
                <div class="well clientSetup">{client_setup}</div>
            </div>
        </div>
        <div class='row col-xs-pull-12'>
            <div class='copyright'>{copyright}</div>
        </div>
        <script>{script}</script>
    </body>
</html>
