<!DOCTYPE html>
<html>
    <head>
        <title>{title}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{base_url}/includes/js/scripts.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,200' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{base_url}/template/{template}/style.css">
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class='row'>
            <div class='col-xs-2 col-lg-2 col-md-2 col-sm-2'>
                <div class="nav">
                    <li><a href='{base_url}/'><img class="icon" src='{base_url}/template/{template}/images/icon.png'></a></li>
                    {nav}
                </div>
            </div>
            <div class='col-xs-8 col-lg-8 col-md-8 col-sm-8'>
                {errors}
                {stuff}
            </div>
        </div>
        <div class='row col-xs-pull-12'>
            <div class='copyright'>{copyright}</div>
        </div>
    </body>
</html>
