<!DOCTYPE html>
<html>
    <head>
        <title>{title} - Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,200' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{base_url}/template/{template}/style.css">
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class='row'>
            <div class='col-xs-12 col-lg-12 col-md-12 col-sm-12 login_header' >
                <form action="{base_url}/login" method="POST">
                    <table>
                        <tr>
                            <td colspan="2" class="submit_row">
                                <img class="icon" src='{base_url}/template/{template}/images/icon.png'>
                                {errors}
                            </td>
                        </tr>
                        <tr>
                            <th>User Name</th>
                            <td><input type="text" name="username" placeholder="User Name" required></td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td><input type="password" name="password" required></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="submit_row">
                                <input type="submit" value="Submit">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class='row col-xs-pull-12'>
            <div class='copyright'>{copyright}</div>
        </div>
    </body>
</html>