/* 
    Document   : style
    Created on : Dec 17, 2013, 6:40:35 PM
    Author     : justin
*/

html, body { 
    font-family: 'Titillium Web', sans-serif;
    font-weight:normal;
    max-width: 99%;
    margin: 0;
    background: #f0f0f0;
}

.glyphicon-ok{
    color:green;
}
.glyphicon-remove{
    color:red;
}
/*
Login
*/
.login_header{
    text-align:center;
}

.login_header .icon{
    width:100px;
}

.login_header table{
    width:300px;
    margin:auto;
    margin-top:200px;
}

.login_header table th{
    color:black;
    font-weight:normal;
    padding-left:10px;
}

.login_header .submit_row{
    text-align:center;
}
/*
Nav
*/

.nav{
    width:100%;
    background: white;
}

.nav .icon{
    width:60px;
}

.nav ul{
    list-style:none;
    margin:0;
    
}

.nav li, .dropdown-menu li{
    text-align:left;
    margin:0;
    width:100%;
    background:#428bca;
    border-radius: 4px;
}

.nav li a{
color: white;
}

.nav li a:hover{
    color: black;
}

.dropdown-menu li a{
    color: #428bca;
}

.dropdown-menu li{
    width:100%;
    color: #428bca;
    background: white;
}


.alert{
    float:left;
    width:100%;
    margin:auto;
}

.copyright{
    width:100%;
    bottom:0;
    text-align:center;
    font-size: 8pt;
}

.table>tbody>tr>.mm_sub_modules{
    font-style:italic;
    border-top: 0;
}
.table>tbody>tr>.mm_module_name{
    font-size:1.5em;
    width: 20%;
}

.mm_has_template{
    font-size:1em;
    text-align:center;
}

.changeNavOrder{
    width:50px;
}

/*
*   Setup   
*/
.setup_header table{
    width:700px;
    margin:auto;
    margin-top:50px;
   
    border-radius: 5px;
}

.setup_header table th{
    color:black;
    font-weight:normal;
    padding-left:10px;
}

.setup_header .submit_row{
    text-align:center;
}

.setup_header .icon{
    width:100px;
}

.setup-td{
    font-size:1.5em;
    width: 50%;
    color:#020202;
    text-align:center;
}

.setup_header table tr td{
    color:#020202;
    padding:10px;
}

/*
* Clients
*/

.clientAddForm, .clientSetup, .clientList{
    display:none;
}

.clientSetupForm{
    display:none;
}

.client_add_form label input[name=street_1], .client_add_form label input[name=street_2],.client_add_form label input[name=business_name]{
    width:350px;
}

.client_add_form .city, .client_add_form .state{
    
}

.client_add_form .city input{
width:150px;    
}
.client_add_form .state select{
width:150px;    
}
.client_add_form .zip input{
width:75px;    
}